<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
       <button v-on:click="increasefn"> increase {{num}}</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        new Vue({
            el: '#app',
            data : {
                num : 10
            },
            computed : {

            },
            components:{

            },
            watch : {
              num : function () {
                  this.logText();
              }
            },
            methods : {
                increasefn : function () {
                    this.num = this.num + 1;
                },
                logText : function () {
                    console.log("changed")
                }
            }
        });
    </script>

</body>
</html>